<!DOCTYPE html>  
<html>  
<head>  
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />  
<title>大家一起热炒上海房价吧！</title>  
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />

<style type="text/css">  
html{height:100%}  
body{height:100%;margin:0px;padding:0px}  
h5{text-align: center; top:7.5px;}
tr{font-size: 16px;text-align: center;}
ul{font-size: 16px;text-align: center;}
th{text-align: center;}
input{width:70px;}
canvas{height:700px; width:800px;}
#listshell{height: 250px; overflow: scroll;}
li{text-align: center;}
#nav{top:7.5px;}
#navtxt{top:11.0px;}
#container{height:100%}
#text{text-align: center; color:red;}  
</style>  
<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=IOapgY5U93CMpydPj36kpLtr">
//v2.0版本的引用方式：src="http://api.map.baidu.com/api?v=2.0&ak=您的密钥"
//v1.4版本及以前版本的引用方式：src="http://api.map.baidu.com/api?v=1.4&key=您的密钥&callback=initialize"
</script>




</head>  
 
<body>  
	
	

<!--
<button type="submit" id="testBtn">生成所有小区</button>	
<button type="submit" id="genPrice">生成小区房价</button>
<button id="priceChange">生成房价排名</button>
<button id="priceTest">测试房价数据</button>

<button type="submit" id="testXy">测试经纬度</button>

<button type="submit" id="modifyXy">修改XY</button>-->
<!-- <button type="submit" id="getPricedZone">getPricedZone</button>
<button type="button" id = "nearbySub">Nearby Subway</button> -->
<!--<button type = "submit" id="genBJZone">生成北京小区</button>-->
<!-- ["徐汇","静安","浦东新区","杨浦","闵行","普陀区","长宁","黄浦","卢湾","虹口","闸北","宝山","松江","嘉定","青浦"] -->
<!--导航栏-->
<nav class = "navbar navbar-inverse navbar-static-top">
  <!-- <form > -->
  <div class = "row">
     <div class = "col-md-1" id = "nav">
      <h5 class = "text-info">区域选择</h5>
    </div>
    <div class = "col-md-1" id = "nav">
      <select id = "district" class = "form-control">
        <option value="0" name = "district">徐汇</option>
        <option value="1" name = "district">静安区</option>
        <option value="2" name = "district">浦东新区</option>
        <option value="3" name = "district">杨浦</option>
        <option value="4" name = "district">闵行</option>
        <option value="5" name = "district">普陀</option>
        <option value="6" name = "district">长宁</option>
        <option value="7" name = "district">黄浦</option>
        <option value="8" name = "district">卢湾</option>
        <option value="9" name = "district">虹口</option>
        <option value="10" name = "district">闸北</option>
        <option value="11" name = "district">宝山</option>
        <option value="12" name = "district">松江</option>
        <option value="13" name = "district">嘉定</option>
        <option value="14" name = "district">青浦</option>
      </select>    
    </div>

    <div class = "col-md-1" id = "nav">
      <h5 class = "text-info">目前房价</h5>
    </div>

    <div class = "col-md-1" id = "nav">
      <select id = "sign" class = "form-control">
        <option>></option>
        <option><</option>
      </select>
    </div>

    <div class="col-md-1" id = "navtxt">
      <input type="text" id="fangPrice" placeholder="0">
    </div>

    <!-- <div class = "col-md-1" id = "nav">
      <h5 class = "glyphicon glyphicon-menu-up text-danger" aria-hidden="true">上涨率</h5>
    </div> -->

    <div class = "col-md-1" id = "nav">
      <select id = 'year' class = "form-control">
        <option value = "priceRateOneY">一年</option>
        <option value = "priceRateTwoY">二年</option>
        <option value = "priceRateThreeY">三年</option>
      </select>
    </div>

    <div class = "col-md-2" id = "nav">
      <span class = "glyphicon glyphicon-menu-up text-danger" aria-hidden="true">上涨率</span>
      <input type="text" id="pricerate" placeholder="0">
      <span id = "text">%</span>
    </div>
    <div class = "col-md-2" id = "nav">
      <button class = "btn-danger" type = "submit" id="search">查找</button>
    </div> 
  </div> 
  <!-- </form> -->
</nav>

<div class="col-md-3"; style = "height:100%;overflow:auto">
  
  <!--小区信息列表-->
	<table id = "data" class = 'table table-striped table-hover table-bordered' >
    <tbody>
      <tr id = "first">
        <th>小区名称</th>
<!--         <ul class = "pagination pagination-lg" id = "xq_results"></ul>
 -->      </tr>
    </tbody>
	</table>
	
	
</div>  <!--col-md-3 william finish zone list --> 

<div class="col-md-9" id="container"></div>

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body" id = "chart">
        <canvas id="myChart"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="clear">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="col-md-9" id="container"></div>

<!-- Modal -->
<div class="modal" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
        <h4 class="modal-title" id="resultModalLabel"></h4>
      </div>
      
      <div class="modal-body" id = "listshell">
        <table id = "results" class = 'table table-striped table-hover table-bordered' >
          <tbody>
            <tr id = "first">
              <th>小区名称</th>
            </tr>
          </tbody>
        </table>
      </div>
      <div id="graph">
        <canvas id="resultChart"></canvas>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id = "remove">Close</button>
      </div>
    </div>
  </div>
</div>



<script type="text/javascript"> 





// var marker = new BMap.Marker(point);        // 创建标注    
// map.addOverlay(marker);                     // 将标注添加到地图中 

// marker.addEventListener("click", function(){    
//  alert("您点击了标注");    
// });


// marker.addEventListener("dragend", function(e){    
//  alert("当前位置：" + e.point.lng + ", " + e.point.lat);    
// })

    
//
//
//// 定义自定义覆盖物的构造函数  
//function SquareOverlay(center, length, color){    
// this._center = center;    
// this._length = length;    
// this._color = color;    
//}    
//// 继承API的BMap.Overlay    
//SquareOverlay.prototype = new BMap.Overlay();
//
//// 实现初始化方法  
//SquareOverlay.prototype.initialize = function(map){    
//// 保存map对象实例   
// this._map = map;        
// // 创建div元素，作为自定义覆盖物的容器   
// var div = document.createElement("div");    
// div.style.position = "absolute";        
// // 可以根据参数设置元素外观   
// div.style.width = this._length + "px";    
// div.style.height = this._length + "px";    
// div.style.background = this._color;      
//// 将div添加到覆盖物容器中   
// map.getPanes().markerPane.appendChild(div);      
//// 保存div实例   
// this._div = div;      
//// 需要将div元素作为方法的返回值，当调用该覆盖物的show、   
//// hide方法，或者对覆盖物进行移除时，API都将操作此元素。   
// return div;    
//}
//
//// 实现显示方法    
//SquareOverlay.prototype.show = function(){    
// if (this._div){    
// this._div.style.display = "";    
// }    
//}      
//// 实现隐藏方法  
//SquareOverlay.prototype.hide = function(){    
// if (this._div){    
// this._div.style.display = "none";    
// }    
//}
//
//SquareOverlay.prototype.draw = function(){    
//// 根据地理坐标转换为像素坐标，并设置给容器    
// var position = this._map.pointToOverlayPixel(this._center);    
// this._div.style.left = position.x - this._length / 2 + "px";    
// this._div.style.top = position.y - this._length / 2 + "px";    
//}
//
//var mySquare = new SquareOverlay(map.getCenter(), 100, "red");   
//map.addOverlay(mySquare); 



</script>  



<script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
<script type="application/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/Chart.bundle.min.js"></script>
<script type="text/javascript" src="/bower_components/async/dist/async.min.js"></script>



<script type="text/javascript" src="/javascripts/main.js"></script>

</body>  
</html>