/*mainImg{ 
     background: url("/images/yoda.jpg") no-repeat scroll center top;
     height: 600px; 
     margin-top: 0px;
     background-size:100% 100%; 
     /*color:#fff;*/
 /*}*/

body{
    font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","WenQuanYi Micro Hei",sans-serif;
    overflow-x:hidden;
    font-size: 16px;
}

.usedTo{
    height: 220px;
    width: 220px;
}

.backColor-grey{
    background-color: #EDF1F2;
}

.backColor-black{
    background-color: #000000;
}

.backColor-blue{
    background-color: #337ab7;
}


.character-font{
    margin: 10px 0;
    color: rgb(66, 197, 190);
    /*font-size: 16px;*/
}

.nav li{
}
.panel-item{
    font-size: 16px;
    display: block;
    background: #ffffff;
    text-align: left;

}
.panel-item:hover{
    font-size: 16px;
    display: block;
    background: #EDF1F2;
    text-align: left;
}
.panel-body img{
    margin-bottom: 5px;
}
hr{
    margin: 0px;
}
tr{
    font-size: 14px;
}


.masterImg{
    width: 100%;
    height: 228px;
}