{{#section 'head'}} {{!块级Helper需要加#}}
    <link rel="stylesheet" href="/css/index.css">
{{/section}}

<div class="container-fluid">
    <div class="row clearfix">
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#" style="">有渔</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <!--  <li class="active">
                          <a href="#">主页</a>
                      </li>
                       <li>
                          <a href="#">我是大牛</a>
                      </li>
                      <li>
                          <a href="#">大家说</a>
                      </li> -->
                </ul>
            </div>
        </nav>
    </div>
    <div class="row" style="height: 500px;">
        <table style="margin:0 auto;">
            <tbody>
            <tr>
                <td style="height: 500px;">
                    <div style="text-align: center">
                        <p style="font-size: 5em">师徒汇-回归教育的<span style="color:#00CC00">本质</span></p>
                        <p style="font-size: 2em;">答疑、授业、解惑 人人都需要好导师</p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center backColor-grey row" style="padding: 50px 0px 80px 0px;">
        <h1>平台特点</h1>
        <br/>
        <br/>
        <div >
            <div class="col-md-4 text-center">
                <img src="images/niu.jpg" alt=""/>

                <p class="character-font">行业大牛做导师</p>
                <span>大牛指引，不再迷茫</span><br/>
                <span>保证学有所值，经验值立马暴涨</span>
            </div>
            <div class="col-md-4 text-center">
                <img src="images/project.jpg" alt=""/>
                <br/>

                <p class="character-font">真实项目</p>
                <span>项目中的实际表现</span><br/>
                <span>击败其它求职者</span>
            </div>
            <div class="col-md-4 text-center">
                <img src="images/anyway.jpg" alt=""/>
                <br/>

                <p class="character-font">任何时间，任何地点</p>
                <span>告别地理位置限制</span><br/>
                <span>任何时间，任何地点，参与项目</span>
            </div>
        </div>
    </div>
    <div class="text-center row clearfix" style="padding: 50px 0px 100px 0px;">
        <h1>适用对象</h1>
        <br/>
        <br/>

        <div class="col-md-4 column text-center">
            <img class="usedTo" src="images/qiuzhi.jpg" alt=""/>

            <h2>求职者</h2>

            <p>直接参于公司实习，实习满意直接转正式，还有比这更快的方法吗！</p>
        </div>
        <div class="col-md-4 column text-center">
            <img class="usedTo" src="images/student.jpg" alt=""/>

            <h2>学生</h2>

            <p>大学期间还宅在宿舍LOL，不如来做些好玩的事吧，极客，玩客，任你挑</p>
        </div>
        <div class="col-md-4 column text-center">
            <img class="usedTo" src="images/mimang.jpg" alt=""/>

            <h2>迷茫者</h2>

            <p>公司只管使用不管培养，周围同事朋友见识有限，参与大牛指导的前沿项目，传道授业解惑，经验值立马暴涨</p>
        </div>
    </div>

    <div class="row text-center backColor-grey" style="padding: 50px 0px 100px 0px;">
        <h1>入驻导师</h1>
        <br/>

        <div class="col-md-8 col-md-offset-2 clearfix" style="margin-top:20px;">
            <div class="col-md-4 column text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>元数据驱动</h2>
                        <span>理解元数据驱动并完成一个项目</span>
                    </div>
                    <div>
                        <img class="masterImg" src="images/dna.jpg" alt=""/>
                    </div>
                    <div class="panel-footer panel-item">
                        导师：Mevolutrix
                    </div>
                    <div class="panel-footer panel-item">
                        微软架构师
                    </div>
                    <div class="panel-footer panel-item">
                        Mevolutrix公司创始人
                    </div>
                    <div class="panel-footer panel-item">
                        互联网金融公司首席科学家
                    </div>
                    <div class="panel-footer panel-item">
                        特点：理论扎实，叹为观止
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">详情</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 column text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>品牌营销</h2>
                        <span>了解品牌营销并完成一个营销案例</span>
                    </div>
                    <div>
                        <img class="masterImg" src="images/yingxiao.jpg" alt=""/>
                    </div>
                    <div class="panel-footer panel-item">
                        导师：寒夏
                    </div>
                    <div class="panel-footer panel-item">
                        上海盛夏品牌营销公司董事总经理
                    </div>
                    <div class="panel-footer panel-item">
                        同济大学发展研究院品牌顾问
                    </div>
                    <div class="panel-footer panel-item">
                        华东政法大学品牌研究中心 特聘主任
                    </div>
                    <div class="panel-footer panel-item">
                        特点：思虑周全，实战案例多
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">详情</button>
                    </div>
                </div>
            </div>

            <div class="col-md-4 column text-center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>全栈前端</h2>
                        <span>全栈使用javascript构建一个网站</span>
                    </div>
                    <div>
                        <img class="masterImg" src="images/superman.jpg" alt=""/>
                    </div>
                    <div class="panel-footer panel-item">
                        导师：Cain
                    </div>
                    <div class="panel-footer panel-item">
                        CISCO开发工程师
                    </div>
                    <div class="panel-footer panel-item">
                        HONEYWELL开发工程师
                    </div>
                    <div class="panel-footer panel-item">
                        某互联网公司开发工程师
                    </div>
                    <div class="panel-footer panel-item">
                        特点：实践经验强，有很强的产品功底
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">详情</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row " style="padding: 50px 0px 100px 0px;">
        <form onsubmit="return false;" class="col-md-6 col-md-offset-3">
            <h2>我想学其它方面</h2>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control col-md-4" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <label>专业</label>
                <input type="input" class="form-control col-md-4" id="domain" placeholder="目前从事的专业">
            </div>
            <div class="form-group">
                <label>学历</label>
                <select id="level" class="form-control col-md-4">
                    <option>博士研究生</option>
                    <option>硕士研究生</option>
                    <option>本科</option>
                    <option>专科</option>
                    <option>其它</option>
                </select>
            </div>
            <div class="form-group">
                <label>学习方式</label>
                <select class="form-control col-md-4" id="method">
                    <option>线上</option>
                    <option>线下</option>
                    <option>均可</option>
                </select>
            </div>
            <div class="form-group">
                <label>希望找哪方面导师</label>
                <textarea class="form-control col-md-4" id="area" placeholder="希望找哪方面导师"></textarea>
            </div>
            <button class="btn btn-primary" style="margin-top:10px" id="submitBtn">提交</button>
        </form>
    </div>
    <div class="row clearfix backColor-grey" style="margin-bottom:30px;">
        <div class="col-md-offset-1 col-md-3">
            <h3>加入我们</h3>
            <p>如果你想学习<br/>
                JavaEE, Node.js,AngularJS, Javascript等技术<br/>
                那么赶快加入到师徒汇吧！<br/>
                发送你的简介到service@findfool.com<br>
                © 2014 findfool Company, Inc. ·沪ICP备14039106-3号<br>
            </p>
        </div>
        <div class="col-md-2">
            <h3>联系方式</h3><br/>
            <p>问题建议: service@findfool.com</p>
            <p>加入我们: service@findfool.com</p>
        </div>
        <div class="col-md-2 text-center">
            <h3>关注我们</h3><br/>
            <img src="images/contact.png" alt=""/>
        </div>
        <div class="col-md-3">
            <h3>邮件订阅</h3><br/>
            <p>不想错过任何更新? 请订阅我们</p>
            <form class="form-inline">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="请输入您的邮箱">
                        <a class="input-group-addon btn btn-primary">订阅</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">项目详情</h4>
            </div>
            <div class="modal-body">

                <div>

                    <table class="table table-hover table-bordered ">
                        <thead>
                        <tr class="success">
                            <td></td>
                            <td>线上</td>
                            <td>线下见习</td>
                            <td>线下包就业</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>导师</th>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <th>项目</th>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <th>团队</th>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                            <td><span class="glyphicon glyphicon-ok"></span></td>
                        </tr>
                        <tr>
                            <th>入学要求</th>
                            <td>中</td>
                            <td>中</td>
                            <td>高</td>
                        </tr>
                        <tr>
                            <th>学习便利性</th>
                            <td>高（随时随地）</td>
                            <td>低（实地见习）</td>
                            <td>低（实地见习）</td>
                        </tr>
                        <tr>
                            <th>收费</th>
                            <td>低（3000/2个月）</td>
                            <td>中（5000/3个月）</td>
                            <td>高（30000/4个月）</td>
                        </tr>
                        <tr>
                            <th>收获</th>
                            <td>经验、人脉</td>
                            <td>经验、人脉</br>就业率提升90%</td>
                            <td>VIP服务，包就业</td>
                        </tr>

                        </tbody>
                    </table>


                    <form onsubmit="return false;">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" class="form-control col-md-4" id="mdEmail" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="email">专业</label>
                            <input type="input" class="form-control col-md-4" id="mdDomain" placeholder="目前从事的专业">
                        </div>
                        <div class="form-group">
                            <label for="email">学历</label>
                            <select id="mdLevel" class="form-control col-md-4">
                                <option>博士研究生</option>
                                <option>硕士研究生</option>
                                <option>本科</option>
                                <option>专科</option>
                                <option>其它</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">学习方式</label>
                            <select class="form-control col-md-4" id="mdMethod">
                                <option>线上</option>
                                <option>线下</option>
                                <option>均可</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="email">我有问题</label>
                            <textarea class="form-control col-md-4" id="mdArea" placeholder="您对项目的疑问"></textarea>
                        </div>
                        <button class="btn btn-primary" style="margin-top:10px" id="submitBtn2">提交</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{{#section 'body'}}
{{/section}}

