<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
      <title></title>
      <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
      {{{_sections.head}}}
  </head>
  <body>
    {{{body}}}
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/javascripts/index.js"></script>
    {{{_sections.body}}}
  </body>
</html>
